.front-image {
    align-content: center;
}

.container {
    display: flex;
    font-family: 'Lucida Sans';
    font-weight: 700;
    font-size: 18px;
    color: aqua;
    
}

.experience {
    margin-right: 10px;

}

.aboutme {
    margin-right: 10px;
    
}

.qualifs {
    margin-right: 10px;
    
}
.contact {
    margin-right: 10px;
    
}
