* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(./Assets/wp4422638-1640005270.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
    font-family: 'Nunito Sans';
}

nav{
    
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Make nav a flex container */
    justify-content: space-between; /* Space out the logo and  nav links */
    align-items: center; /* Vertically center items */
    padding: 0 10px; /* Add some padding to the nav */
}

#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end; /* justify content to the end */
    align-items: center;
    margin: 0; /* Remove default ul margin */
    padding: 0; /*Remove default ul padding */
}

nav li{
    height: 50px;
}

nav a{
    position: relative;
    height: 100%;
    padding: 0 30px;
    position: relative; 
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #2f2f2f;
}

nav a:hover{
    background-color: bisque;
}

nav a::before {
    background-color: #2f2f2f;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

nav a:hover::before{
    transform: scaleX(1);
}

nav li:first-child{
    margin-right: auto; /* Push the logo to the left */
}

.main-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.main-sidebar li{
    width: 100%;

}
.main-sidebar a{
    width: 100%;
}

.button{
    color: black;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Add cursor style to indicate it's clickable */
}

.button[data-state="closed"] :is(.top, .bottom) {
    animation: to-open-icon 1s forwards;
}

.button[data-state="opened"] :is(.top, .bottom) {
    animation: to-open-icon 1s forwards;
}

.button {
    transition: rotate 800ms 100ms;
}

.button[data-state="opened"] .hamburger {
    rotate: 1turn;
}

.button .line.top {
    --rotation: -45deg;
    transform-origin: 65px 45px; 
}



.nav-desktop {
    display: flex; /* Make navbar desktop a flex container */
    align-items: center; /* Vertically center items */
    flex-grow: 1;  /* Allow nav-desktop to take up available space */
    justify-content: flex-end; /* Push content to the right */
}

.nav-desktop ul {
    display: flex; /* Make the ul a flex container for horizontal layout */
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-desktop li:first-child {
    margin-left: auto;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}
   /* .menu-button{
        display: block;     
    } - used to hide hamburger button until go below 800px on mobile */ 

  /* set for mobile displays, when image falls below 800px, do not display */
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
} /* at 400px, sidebar occupies entire display on mobiles */