body {
    display: flex;
    background-image: url(../Assets/Italyada-en-cok-tercih-edilen-bolumler-780x470.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#menu-header {
    
}

.container {
    display: flex;
    justify-content: center;
    
}

.experience {
    margin-right: 10px;

}

.aboutme {
    margin-right: 10px;
    
}

.qualifs {
    margin-right: 10px;
    
}
.contact {
    margin-right: 10px;
    
}
